nav {
    width: 980px;
    height: 60px;
    margin: 0 auto;
    padding: 15px 100px;
    display: flex;
    background-color: crimson;
    justify-content: space-evenly;

    
}

nav a {
    text-decoration: none;
    font-size: 30px;
}