.hero {
    max-width: 1280px;
    height: 500px;
    margin: 0 auto;
    background-image: $overlay,
     url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    .header {
        font-family: Nova;
        font-size: 25px;
        color: $white;
        padding-top: 100px;
        text-align: center;
    }
}

